<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Cadastrar Novo Grupo Administradores</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">

        <form class="card theme-form">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Nome do Grupo</label>
                            <input class="form-control" [(ngModel)]="newAdm.name" name="name" type="text" placeholder="Digite o nome do Grupo" aria-label="'Campo Input'" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Identificador do Grupo</label>
                            <input class="form-control" [(ngModel)]="newAdm.idAdm" name="idAdm" type="text" placeholder="Digite o identificar do grupo" aria-label="'Campo Input'" />
                            <span>( minúsculo, palavras juntas, sem acento... )</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Nome do Usuário</label>
                            <input class="form-control" type="text" [(ngModel)]="newUserBackoffice.username" name="username" placeholder="Digite o nome de usuário principal" aria-label="'Campo Input'" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">Senha</label>
                            <input class="form-control" type="password" [(ngModel)]="newUserBackoffice.password" name="password" placeholder="Digite a Senha para usuário" aria-label="'Campo Input'" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label class="form-label">E-mail</label>
                            <input class="form-control" type="email" [(ngModel)]="newUserBackoffice.email" name="email" placeholder="Digite o e-mail" aria-label="'Campo Input'" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Nome da Pessoa</label>
                            <input class="form-control" type="text" [(ngModel)]="newUserBackoffice.firstName" name="firstName" placeholder="Digite Nome Usuário" aria-label="'Campo Input'" />
                        </div>
                    </div>

                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary btn-pill" type="submit" (click)="register()" >Atualizar/Criar</button>
                    </div>
                </div>
            </div>
        </form>



      </div>
    </div>
  </div>
</div>
