<!--
<div class="loader-wrapper">
  <div class="typewriter">
    <h1>New Era Admin Loading..</h1>
  </div>
</div> -->

<div class="page-wrapper">
  <app-page-main-header></app-page-main-header>
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    <div class="iconsidebar-menu">
      <app-sidebar></app-sidebar>
    </div>
    <!-- Page Sidebar Ends-->
    <!-- Right sidebar Start-->
    <app-right-sidebar></app-right-sidebar>
    <!-- Right sidebar Ends-->
    <div class="page-body">
      <router-outlet *ngIf="true"></router-outlet>
    </div>
    <!-- footer start-->
    <layout-footer></layout-footer>
  </div>
</div>

